body {
    margin: 0;
} 

.page-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


/* BANNER */

.banner {
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 170px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Smythe', cursive;
    line-height: 24px;
}

.banner-text {
    margin-left: 30px;
}

.banner-text h1 {
    font-size: 38px;
    margin-bottom: 0;
}

.banner-text p {
    font-size: 22px;
    margin-top: 10px;
}

.banner-text h1, .banner-text p {
    opacity: 0.9;
}

/* MENU */