/* Global reset */
body {
    margin: 0;
    padding: 0;
    line-height:1.2;
    box-sizing: border-box;
    font-family: 'Smythe', cursive, sans-serif;
} 

h1, h2, p {
    margin: 0;
}

.page-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Container */
.main-content-wrapper {
    margin: 10px 30px;
}

/* BANNER */

.banner {
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 170px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    line-height: 24px;
}

.banner-text {
    margin-left: 30px;
}

.banner-text h1 {
    font-size: 38px;
    margin-bottom: 0;
}

.banner-text p {
    font-size: 22px;
    margin-top: 10px;
}

.banner-text h1, .banner-text p {
    opacity: 0.9;
}

/* MENU */

.menu-section {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: solid 1px #D2D2D2;
    height: 140px;
    padding: 20px 0;
}

.food-emoji {
    font-size: 80px;
}

.food-details {
    margin-left: 20px;
}

.food-details h2 {
    font-size: 28px;
}

.food-ingredients{
    color: #8B8B8B;
    font-size: 16px;
}

.food-price{
    margin-top: 20px;
    font-size: 20px;
}

.add-button {
    margin: 0 0 0 auto ;
    border-radius: 90px;
    height: 50px;
    width: 50px;
    color: #3C3C3C;
    border: solid 1px #DEDEDE;
    background-color: transparent;
}

.add-button:hover {
    background-color: #F0F0F0;
}

.add-button:active {
    transform: scale(0.95);
}

.add-button:focus {
    outline: 2px solid #F0F0F0;
    outline-offset: 2px;
}

/* CART */

.cart-title {
    font-size: 28px;
    margin: 40px 0;
    text-align: center;
}

.cart-section {
    display: flex;
    flex-direction: column;
}

.cart-items {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px 0;
}

.remove-button {
    border: none;
    background-color: transparent;
    color: #BBBBBB;
    margin-left: 10px;

}

.remove-button:hover {
    color: #747070;
}

.remove-button:focus {
    outline: 2px solid #F0F0F0;
    outline-offset: 2px;
}

.remove-button:active {
    color: #222;
    transform: scale(0.98);
}

.cart-item-amount {
    font-size: 20px;
    margin-left: 20px;

}

.cart-item-cost {
    font-size: 20px;
    margin: 0 0 0 auto;
}

.cart-total {
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px black solid;

}

.cart-total h2 {
    font-size: 28px;
}

.cart-total-price {
    margin: 0 0 0 auto;
    font-size: 20px;
}

.payment-btn {
    margin-top: 40px;
    height: 60px;
    color: white;
    background-color: #16DB99;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* Utility */
button {
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2 ease, transform 0.1 ease;
}